body{
    background-color: rgba(35, 35, 203, 0.57);
    animation: infinite an 1s;
}
.msg{
    margin: 50px auto;
    text-align: center;
    color: white;
    font-weight: 800;
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-wrap: break-word;
}
.container{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container img{
    margin: 40px;
    mix-blend-mode:darken;

}
@media (max-width : 755px) {
    img{
        width: 40%;
        height: 40%;
    }
}

@keyframes an{
    15%{
        background-color: rgba(206, 0, 0, 0.577);
    }
    30%{
        background-color: rgba(0, 31, 101, 0.611);
    }
    45%{
        background-color: rgb(105, 1, 202);
    }
    60%{
        background-color: rgba(5, 203, 35, 0.57);
    }
    70%{
        background-color: rgb(0, 179, 120);
    }
    100%{
        background-color: plum;
    }
}